@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url('./AI_Image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.container {
    padding: 40px;
    position: absolute;
    left: 8%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 35px;
    font-family: "Roboto";

}

p {
    color: orange;
    font-size: 18px;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #45a049;
}

.listening {
    animation: pulse 1s infinite;
    background-color: #FF6347;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}